.verticalPhoto {
  width: 100%;
  height: auto;
  margin: 0.5vw;
  transform: translate(0, -15%);
}

.horizontalPhoto {
  width: auto;
  height: 100%;
  margin: 0.5vw;
  transform: translate(-15%, -5%);
}

.crop {
  width: 10vw;
  height: 10vw;
  overflow: hidden;
  display: inline-block;
}
